@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


body {
	background: #8a93f8;
	overflow-y: auto;		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    background-color: #1105fc;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 20px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

::placeholder {
    color: rgb(46, 44, 63);
    opacity: 1; /* Firefox */
  }

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 30%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.signup__button {
	background: #60ecab;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 35%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__button {
	background: #60ecab;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 35%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.signup__button:hover {
	background-color:  #09f411;
}

.button__text{
    align-self: center;
    text-align: center;
}

.login__submit:hover {
	background-color: #09f411;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.icon{
    width: 40%;
}

.flex_vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.field_icon{
    width: 8%;
}

.title{
    height: 100%;
    width: 25%;
    font-size:xx-large;
}

.logo_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
